<div class="h-100">
  <div class="position-relative overflow-hidden p-3 text-center bg-light hero">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-5 font-weight-bold">Browse Movies</h1>
      <p class="font-weight-normal">Request your favourites movies which you would
      want to see with your friends or at your next movie party night or at movie get-togethers.</p>
      <button class="btn btn-outline-success w-30"
              routerLink="/movie-list/1">Search Movies</button>
      <h2 class="display-5 font-weight-bold pt-lg-3">Throw Movie Parties</h2>
      <p class="font-weight-normal">Host movie events for your friends or neighbours. </p>
      <button class="btn btn-outline-danger w-50"
              routerLink="/login">Login as a host</button>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>

  </div>
</div>

<app-footer></app-footer>
