<!--nav bar-->

<!--nav bar-->

<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">-->

  <!--<a class="navbar-brand " href="#" style="color: #007bff;">-->
    <!--<i class="fa fa-film fa-2x"></i>-->
  <!--</a>-->
  <!--<a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">-->
    <!--<h3 class="title">Movie Buddies</h3>-->
  <!--</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
          <!--aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item my-1">-->
        <!--<a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/home" >Home</a>-->
        <!--&lt;!&ndash;<span class="sr-only">(current)</span>&ndash;&gt;-->
      <!--</li>-->
      <!--<li class="nav-item my-1">-->
        <!--<a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/movie-list/1">Movies</a>-->
      <!--</li>-->

      <!--<li class="nav-item my-1">-->
        <!--<a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/event-list">Events</a>-->
      <!--</li>-->

      <!--&lt;!&ndash; dynamic navs &ndash;&gt;-->

      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username === 'No session maintained'-->
        <!--|| user.role !== 'Admin')" class="btn btn-outline-primary-->
          <!--ml-3"-->
           <!--[routerLinkActive]="['active']" routerLink="/admin" >Admin</a>-->
      <!--</li>-->

      <!--&lt;!&ndash;guest profile and dashboard&ndash;&gt;-->

      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"-->
           <!--class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/profile-guest/">Profile</a>-->
      <!--</li>-->


      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"-->
           <!--class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/dashboard-guest">Dashboard</a>-->
      <!--</li>-->


      <!--&lt;!&ndash;host profile and dashboard&ndash;&gt;-->

      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"-->
           <!--class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/profile-host/">Profile</a>-->
      <!--</li>-->


      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"-->
           <!--class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/dashboard-host">Dashboard</a>-->
      <!--</li>-->

      <!--<li class="nav-item my-1">-->
        <!--<a [hidden]="(user.username === 'No session maintained') || (user.role == 'Guest')"-->
           <!--class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"-->
           <!--routerLink="/user-list">Movie Buffs</a>-->
      <!--</li>-->

    <!--</ul>-->
    <!--<ul class="navbar-nav float-right">-->
      <!--<li class="nav-item my-1">-->
        <!--<span [hidden]="(user.username == 'No session maintained')" class="mx-1">-->
          <!--<span class="navbar-text" style="color: dimgrey;">-->
           <!--<i [hidden]="user===null" class="fa fa-user"> </i>-->
            <!--Logged in as: <b>{{user.username}}</b></span>-->
        <!--</span>-->
      <!--</li>-->

      <!--<li class="nav-item my-1">-->
        <!--<button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-primary ml-3" (click)="logout()"-->
                <!--type="button">Logout</button>-->
      <!--</li>-->
      <!--<li class="nav-item my-1">-->
        <!--<button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-primary-->
       <!--ml-3" routerLink="/login" [routerLinkActive]="['active']"-->
                <!--type="button">Login</button>-->
      <!--</li>-->

      <!--<li class="nav-item my-1">-->
        <!--<button [hidden]="!(user.username == 'No session maintained')"-->
                <!--class="btn btn-outline-primary-->
       <!--ml-3" routerLink="/register" [routerLinkActive]="['active']"-->
                <!--type="button">Register</button>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<app-nav-bar></app-nav-bar>

<!--  .......................Nav Bar ends ............................... -->





<div class="p-5 mt-5">
  <h1 class=" text-center bg-secondary rounded shadow p-2 mb-4 heading text-light">
    Events List
  </h1>


  <ul class="list-group">
    <li *ngFor="let m of latestEvents" class="list-group-item my-2 rounded shadow-sm" style="background-color: #e3f2fd;">
      <div class="row text-dark">
        <div class="col-8">
          <h5 style="color: rgba(0,255,123, 0.85);">
            <a routerLink="/event-list/event-detail/{{m.id}}">{{m.name}}</a></h5>
        </div>
        <div class="col-4" style="text-align: right">
          Event Date : {{m.date}}
        </div>
      </div>
    </li>

  </ul>
  <br/>
</div>

<app-footer></app-footer>
