<!--nav bar-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">

  <a class="navbar-brand " href="#" style="color: #007bff;">
    <i class="fa fa-film fa-2x"></i>
  </a>
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">
    <h3 class="title">Movie Buddies</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/home" >Home</a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/movie-list/1">Movies</a>
      </li>

      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/event-list">Events</a>
      </li>

      <!-- dynamic navs -->

      <li class="nav-item my-1">
        <a [hidden]="(user.username === 'No session maintained'
        || user.role !== 'Admin')" class="btn btn-outline-primary
          ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
      </li>

      <!--guest profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-guest/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-guest">Dashboard</a>
      </li>


      <!--host profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-host/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role === 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-host">Dashboard</a>
      </li>

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained') || (user.role == 'Host')  ||
        (user.role == 'Admin' )"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/user-list">Movie Buffs</a>
      </li>

    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <span [hidden]="(user.username == 'No session maintained')" class="mx-1">
          <span class="navbar-text" style="color: dimgrey;">
           <i [hidden]="user===null" class="fa fa-user"> </i>
            Logged in as: <b>{{user.username}}</b></span>
        </span>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-primary ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-primary
       ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')"
                class="btn btn-outline-primary
       ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>


<!--  .......................Nav Bar ends ............................... -->

<div class="rounded p-5 m-5">

  <!--<div class="row navbar navbar-expand-lg  bg-dark text-light m-3" data-toggle="collapse" data-target="#pendingRec">-->
  <!--<div class="col">-->
  <!--<h3>Pending Recruiter List</h3>-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<i class="fa fa-angle-down fa-2x btn float-right"></i>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="collapse" id="pendingRec" data-parent="admin">-->
  <!--<div *ngFor="let user of users" class="m-3">-->
  <!--<div class="row bg-white border shadow text-dark p-2 mx-3" data-toggle="collapse">-->
  <!--<div class="col">-->
  <!--<h5>{{user.username}}</h5>-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<button class="btn btn-success float-right ml-2" (click)="approveUser(user._id)">Approve</button>-->
  <!--<button class="btn btn-danger float-right" (click)="rejectUser(user._id)">Reject</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row navbar navbar-expand-lg  bg-dark text-light m-3" data-toggle="collapse" data-target="#pendingPremium">-->
  <!--<div class="col">-->
  <!--<h3>Pending Premium Job Seeker Request</h3>-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<i class="fa fa-angle-down fa-2x btn float-right"></i>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="collapse" id="pendingPremium" data-parent="admin">-->
  <!--<div *ngFor="let user of allJobSeekers" class="m-3">-->
  <!--<div class="row bg-white border shadow text-dark p-2 mx-3" data-toggle="collapse">-->
  <!--<div class="col">-->
  <!--<h5>{{user.username}}</h5>-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<h5>{{user.premiumRequestStatus}}</h5>-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<button class="btn btn-success float-right ml-2" (click)="grantPremiumAccess(user._id)"-->
  <!--[hidden]="user.premiumRequestStatus !== 'Pending'">Approve-->
  <!--</button>-->
  <!--<button class="btn btn-danger float-right" (click)="revokePremiumAccess(user._id)"-->
  <!--[hidden]="user.premiumRequestStatus !== 'Verified'">Revoke-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->


  <div class="row navbar navbar-expand-lg  bg-dark text-light m-3" data-toggle="collapse" data-target="#adminCreate">
    <div class="col">
      <h3>User Management</h3>
    </div>
    <div class="col">
      <i class="fa fa-angle-down fa-2x btn float-right"></i>
    </div>
  </div>

  <div class="collapse" id="adminCreate" data-parent="adminCreate">
    <div class="row m-3">
      <div class="col">
        <div class="alert alert-danger" [hidden]="!usernameExists">
          Username already exists user another one !
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <form class="form" #form="ngForm">
          <div class="row">
            <div class="col">
              <input type="text" [(ngModel)]="username" name="username" placeholder="Username"
                     id="username" class="form-control " required #userName="ngModel">
              <div [hidden]="userName.valid || userName.pristine" class="mt-2 alert alert-danger">
                Username required!!
              </div>
            </div>
            <div class="col">

              <input type="password" placeholder="123qwe#$" [(ngModel)]="password" name="password"
                     id="password" class="form-control" required #pass="ngModel">
              <div [hidden]="pass.valid || pass.pristine" class="mt-2 alert alert-danger">
                Password required!!
              </div>
            </div>
            <div class="col">
              <select id="role" required class="form-control" name="role" #roleForm="ngModel" [(ngModel)]="role">
                <option selected value="default">Select Role</option>
                <option value="Host">Host</option>
                <option value="Guest">Guest</option>
                <option value="Admin">Admin</option>
              </select>
              <div [hidden]="(roleForm.valid || roleForm.pristine)" class="mt-2 alert alert-danger">
                Role required!!
              </div>
            </div>
            <div class="col">
              <i class="fa fa-2x p-1 btn fa-plus" *ngIf="toggleUpdate" (click)="createUser(username, password); form.reset()"></i>
              <i class="fa fa-2x p-1 btn fa-check" *ngIf="!toggleUpdate" (click)="updateUser(username, password); form.reset()"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row bg-primary border shadow text-light p-2 mx-3" data-toggle="collapse">
      <div class="col">
        <h4>Username</h4>
      </div>
      <div class="col">
        <h4>Password</h4>
      </div>
      <div class="col">
        <h4>Role</h4>
      </div>
      <div class="col">

      </div>
    </div>
    <div *ngFor="let user of allUsers" class="">
      <div class="row bg-white border shadow text-dark p-2 mx-3" data-toggle="collapse"
           *ngIf="currentAdmin && user && currentAdmin.username != user.username">
        <div class="col">
          <h5>{{user.username}}</h5>
        </div>
        <div class="col">
          <h5>******</h5>
        </div>
        <div class="col">
          <h5>{{user.role}}</h5>
        </div>
        <div class="col">
          <i class="btn fa fa-2x fa-trash float-right ml-2" (click)="deleteUser(user._id)"></i>
          <i class="btn fa fa-2x fa-edit float-right ml-2"  (click)="modify(user)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
