<!--EVENT LIST-->

 <!--ADD nav bar-->



<div class="p-5 mt-5">
  <h1 class=" text-center bg-secondary rounded shadow p-2 mb-4 heading text-light">
    Events List
  </h1>


  <ul class="list-group">
    <!--<li *ngFor="let m of latestMovies" class="list-group-item my-2 rounded shadow-sm" style="background-color: #e3f2fd;">-->
      <!--<div class="row text-dark">-->
        <!--<div class="col-8">-->
          <!--<h5 style="color: rgba(0,255,123, 0.85);">-->
            <!--<a routerLink="/movie-list/{{page}}/movie-detail/{{m.id}}">{{m.title}}</a></h5>-->
        <!--</div>-->
        <!--<div class="col-4" style="text-align: right">-->
          <!--Release date : {{m.release_date}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->

    <li class="list-group-item my-2 rounded shadow-sm" style="background-color: #e3f2fd;">
    <div class="row text-dark">
    <div class="col-8">
    <h5 style="color: rgba(0,255,123, 0.85);">
    <a routerLink="/event-list/event-detail/{{e.id}}">{{e.name}}</a></h5>
    </div>
    <div class="col-4" style="text-align: right">
    Date : {{e.date}}
    </div>
    </div>
    </li>


  </ul>
  <br/>
</div>

<app-footer></app-footer>
