<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" >

  <a class="navbar-brand " href="#" >
    <i class="fa fa-film fa-2x"></i>
  </a>
  <a class="navbar-brand text-light" href="#" >
    <h3 class="title">Movie Buddies</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/home" >Home</a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/movie-list/1">Movies</a>
      </li>

      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/event-list">Events</a>
      </li>


      <!-- dynamic navs -->

      <li class="nav-item my-1">
        <a [hidden]="(user.username === 'No session maintained'
        || user.role !== 'Admin')" class="btn btn-outline-secondary ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >User Management</a>
      </li>


      <!--guest profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-guest/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-guest">Dashboard</a>
      </li>

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/user-list">Movie Buffs</a>
      </li>

      <!--host profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host' )"
           class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-host/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || ( user.role !== 'Host' && user.role !== 'Admin'))"
           class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-host">Dashboard</a>
      </li>


    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <span [hidden]="(user.username == 'No session maintained')" class="mx-1">
          <span class="navbar-text text-white" >
           <i [hidden]="user===null" class="fa fa-user"> </i>
            Logged in as : <b>{{user.username}}</b></span>
        </span>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-secondary ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-secondary
       ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')"
                class="btn btn-outline-secondary
       ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>


<!--  .......................Nav Bar ends ............................... -->


<div class="cont">
  <!--<router-outlet></router-outlet>-->
  <router-outlet (activate)="sessionCheck()" ></router-outlet>
</div>
