<!--nav bar-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">

  <a class="navbar-brand " href="#" style="color: #007bff;">
    <i class="fa fa-film fa-2x"></i>
  </a>
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">
    <h3 class="title">Movie Buddies</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/home" >Home</a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/movie-list/1">Movies</a>
      </li>

      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/event-list">Events</a>
      </li>

      <!-- dynamic navs -->

      <li class="nav-item my-1">
        <a [hidden]="(user.username === 'No session maintained'
        || user.role !== 'Admin')" class="btn btn-outline-primary
          ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
      </li>

      <!--guest profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-guest/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-guest">Dashboard</a>
      </li>


      <!--host profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-host/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-host">Dashboard</a>
      </li>

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained') || (user.role == 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/user-list">Movie Buffs</a>
      </li>

    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <span [hidden]="(user.username == 'No session maintained')" class="mx-1">
          <span class="navbar-text" style="color: dimgrey;">
           <i [hidden]="user===null" class="fa fa-user"> </i>
            Logged in as: <b>{{user.username}}</b></span>
        </span>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-primary ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-primary
       ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')"
                class="btn btn-outline-primary
       ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>



<!--  .......................Nav Bar ends ............................... -->


<!--main content-->

<div class="container-fluid">
  <!--<div style="margin: 5px; padding: 15px;" >-->
  <div class="p-5 mt-5">
    <h2 style="color: #0069d9;">Guest Dashboard</h2>
    <div>
      <br/>
      <button [hidden]="requestedMoviesView" class="btn btn-outline-success shadow" (click)="showRequestedMoviesList()">
        <h3> View Requested Movies</h3>
      </button>
        <!--requested movies list-->

        <div [hidden]="!requestedMoviesView">
          <div class="row">
            <div class="col-4 mx-1">
              <h2 class="font-weight-bold" style="color: green">
                My Requested Movies</h2>
              <ul class="list-group py-1 my-1" style="width: 18rem">
                <li *ngFor="let movie of movies"
                    class="list-group-item text-center shadow rounded my-2"
                    style="background-color: #e3f2fd;">
                    <span style="font-size: x-large; color:dodgerblue;">{{movie.title}}</span>

                </li>
              </ul>
              <br/>
              <button
                (click)="requestedMoviesView = !requestedMoviesView"
                class="btn btn-outline-success rounded shadow-sm">
                <i class="fa fa-arrow-up fa-2x"> </i></button>
            </div>
          </div>
        </div>
      <hr/>

      <!--.............................-->

      <button [hidden]="bookingsView" class="btn btn-outline-success shadow" (click)="showBookingsList()">
        <h3> View Event Bookings</h3>
      </button>
      <!--bookings list-->

      <div [hidden]="!bookingsView">
        <div class="row">
          <div class="col-6 mx-1">
            <h2 class="font-weight-bold" style="color: green">
              My Event Bookings</h2>
            <ul class="list-group rounded py-1 my-1" style="width: 18rem">
              <ul class="list-group py-1 my-1" style="width: 36rem">
                <li *ngFor="let b of bookings"
                    class="list-group-item shadow rounded my-2"
                    style="background-color: #e3f2fd;">
                  <a routerLink="/dashboard-guest/{{b._id}}">
                  <span style="font-weight: bold; font-size: x-large; color:dodgerblue;">{{b.event.name}}</span>
                  </a>
                  <br/>
                  <span style="font-size: large; color:dodgerblue;">Event Date : {{b.event.date}}</span>
                  <br/>
                  <span style="font-size: large; color:dodgerblue;">Tickets : {{b.tickets}}</span>
                  <button (click)="cancelBooking(b._id)"
                          class="float-right btn btn-outline-danger rounded shadow-sm">
                    <i class="fa fa-trash"></i>&nbsp;Cancel Booking
                  </button>
                </li>
              </ul>

            </ul>
            <br/>
            <button
              (click)="bookingsView = !bookingsView"
              class="btn btn-outline-success rounded shadow-sm">
              <i class="fa fa-arrow-up fa-2x"> </i></button>
          </div>
          <div class="col-5 mx-2">
            <h2 style="color: purple" class="text-center font-weight-bold">Update Booking</h2>
            <form>

              <div class="form-group row ">
                <label for="inputFirstName" class="col-form-label ml-5 px-2" style="width: 12%">Tickets</label>
                <div class="col-sm-10">
                  <input [(ngModel)]="updateBooking.tickets" [ngModelOptions]="{standalone: true}"
                         type="text" class="form-control" id="inputFirstName" placeholder="Tickets" value="">
                </div>
              </div>


              <button (click)="updateBookingTicket()"
                      class="btn btn-primary" style="margin-left:4%; width: 96%">
                Update Booking
              </button>

            </form>
          </div>
        </div>
      </div>
      <hr/>
      <div>
        <a class="btn btn-lg  btn-outline-primary shadow float-right" routerLink="/user-list">
          Find and follow new buddies</a>
        <h2> My Buddies </h2>
        <h5> Movie Enthusiasts that I follow </h5>
        <ul class="list-group rounded py-1 my-1" style="width: 18rem">


          <li *ngFor="let guest of guestusers"
              class="list-group-item shadow rounded my-2">
            <span style="font-size: large; color:dodgerblue;"> </span>{{guest.username}}

            <button
              class="btn btn-outline-primary float-right"
              (click)="updateUnfollowing(guest, guest._id)">Un-follow
            </button>
          </li>
        </ul>

      </div>

      <br>
      <br/>

    </div>
  </div>
</div>


<app-footer></app-footer>
