<!--nav bar-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">

  <a class="navbar-brand " href="#" style="color: #007bff;">
    <i class="fa fa-film fa-2x"></i>
  </a>
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">
    <h3 class="title">Movie Buddies</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/home" >Home</a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/movie-list/1">Movies</a>
      </li>

      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/event-list">Events</a>
      </li>


      <!-- dynamic navs -->

      <li class="nav-item my-1">
        <a [hidden]="(user.username === 'No session maintained'
        || user.role !== 'Admin')" class="btn btn-outline-primary
          ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-guest/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-guest">Dashboard</a>
      </li>



    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <span [hidden]="(user.username == 'No session maintained')" class="mx-1">
          <span class="navbar-text" style="color: dimgrey;">
           <i [hidden]="user===null" class="fa fa-user"> </i>
            Logged in as: <b>{{user.username}}</b></span>
        </span>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-primary ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-primary
       ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')"
                class="btn btn-outline-primary
       ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>


<!--  .......................Nav Bar ends ............................... -->


<!--main content-->

<div class="container-fluid">
  <!--<div style="margin: 5px; padding: 15px;" >-->
  <div class="p-5 mt-5">
    <h2 style="color: #0069d9;">Guest Dashboard</h2>
    <div>
      <br/>
      <button [hidden]="requestedMoviesView" class="btn btn-outline-success shadow" (click)="showRequestedMoviesList()">
        <h3> View Requested Movies</h3>
      </button>
        <!--requested movies list-->

        <div [hidden]="!requestedMoviesView">
          <div class="row">
            <div class="col-4 mx-1">
              <h2 class="font-weight-bold" style="color: green">
                Requested Movies</h2>
              <ul class="list-group rounded py-1 my-1" style="width: 18rem">
                <!--<li *ngFor="let course of courses"-->
                    <!--class="list-group-item shadow rounded my-2"-->
                    <!--(click)="selectCourse(course.id, course.title)"-->
                    <!--[ngClass]="{'active': course.id === selectedCourseId}">-->
                  <!--<span style="font-size: large; color:dodgerblue;"> </span>{{course.title}}-->
                  <!--&lt;!&ndash;<button class="float-right btn btn-outline-primary float-right"&ndash;&gt;-->
                  <!--&lt;!&ndash;routerLink="/course/{{course.id}}/section">View Sections</button>&ndash;&gt;-->
                  <!--&lt;!&ndash;(click)="showSections(section)"&ndash;&gt;-->
                <!--</li>-->
                <li class="list-group-item shadow rounded my-2">
                  Movie 1
                </li>

                <li class="list-group-item shadow rounded my-2">
                  Movie 2
                </li>

                <li class="list-group-item shadow rounded my-2">
                  Movie 3
                </li>

                <li class="list-group-item shadow rounded my-2">
                  Movie 4
                </li>
              </ul>
              <br/>
              <button
                (click)="requestedMoviesView = !requestedMoviesView"
                class="btn btn-outline-success rounded shadow-sm">
                <i class="fa fa-arrow-up fa-2x"> </i></button>
            </div>
            <div class="col-7 mx-1">
                <h2 style="color: purple" class="text-center font-weight-bold">Movie Details</h2>
                <div>
                    <button (click)="removeRequestedMoviwe()"
                            class="float-right btn btn-outline-danger rounded shadow-sm">
                      <i class="fa fa-trash"></i>&nbsp;&nbsp;Remove Requested Movie
                    </button>
                </div>
            </div>
          </div>
        </div>
      <hr/>

      <!--.............................-->

      <button [hidden]="bookingsView" class="btn btn-outline-success shadow" (click)="showBookingsList()">
        <h3> View Event Bookings</h3>
      </button>
      <!--bookings list-->

      <div [hidden]="!bookingsView">
        <div class="row">
          <div class="col-4 mx-1">
            <h2 class="font-weight-bold" style="color: green">
              Event Bookings</h2>
            <ul class="list-group rounded py-1 my-1" style="width: 18rem">
              <!--<li *ngFor="let course of courses"-->
              <!--class="list-group-item shadow rounded my-2"-->
              <!--(click)="selectCourse(course.id, course.title)"-->
              <!--[ngClass]="{'active': course.id === selectedCourseId}">-->
              <!--<span style="font-size: large; color:dodgerblue;"> </span>{{course.title}}-->
              <!--&lt;!&ndash;<button class="float-right btn btn-outline-primary float-right"&ndash;&gt;-->
              <!--&lt;!&ndash;routerLink="/course/{{course.id}}/section">View Sections</button>&ndash;&gt;-->
              <!--&lt;!&ndash;(click)="showSections(section)"&ndash;&gt;-->
              <!--</li>-->
              <li class="list-group-item shadow rounded my-2">
                Booking 1
              </li>

              <li class="list-group-item shadow rounded my-2">
                Booking 2
              </li>

              <li class="list-group-item shadow rounded my-2">
                Booking 3
              </li>

              <li class="list-group-item shadow rounded my-2">
                Booking 4
              </li>
            </ul>
            <br/>
            <button
              (click)="bookingsView = !bookingsView"
              class="btn btn-outline-success rounded shadow-sm">
              <i class="fa fa-arrow-up fa-2x"> </i></button>
          </div>
          <div class="col-7 mx-1">
            <h2 style="color: purple" class="text-center font-weight-bold">Booking Details</h2>
            <div>
              <button (click)="cancelBooking()"
                      class="float-right btn btn-outline-danger rounded shadow-sm">
                <i class="fa fa-trash"></i>&nbsp;Cancel Booking
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div>
        <a class="btn btn-lg  btn-outline-primary shadow float-right" routerLink="/user-list">
          Find and follow new buddies</a>
        <h2> My Buddies </h2>
        <h5> Movie Enthusiasts that I follow </h5>
        <ul class="list-group rounded py-1 my-1" style="width: 18rem">


          <li *ngFor="let followingUser of follows"
          class="list-group-item shadow rounded my-2">
          <span style="font-size: large; font-weight: bold; color:dodgerblue;">
            {{followingUser.username}}
          </span>
          <button class="float-right btn btn-outline-primary float-right"
          (click)="unfollowUser(followingUser)">Un-Follow</button>
          </li>


          <!--<li class="list-group-item shadow rounded my-2">-->
            <!--user 2-->
            <!--<button class="btn btn-outline-primary float-right"> Un-Follow </button>-->
            <!--<button class="btn btn-outline-primary float-right" [disabled]="true"> Follow </button>-->
          <!--</li>-->

          <li class="list-group-item shadow rounded my-2">
            user 3 <button class="btn btn-outline-primary float-right">Un-Follow</button>
          </li>

          <li class="list-group-item shadow rounded my-2">
            user 4
            <button class="btn btn-outline-primary float-right">Un-Follow</button>
            <!--<button class="btn btn-outline-primary float-right" [disabled]="true"> Follow </button>-->

          </li>
        </ul>

      </div>

      <br>
      <br/>

    </div>
  </div>
</div>


<app-footer></app-footer>
