.active.movielist {
  background-color: rgba(0, 170, 255, 0.65);
  border-top-color: whitesmoke;
  border-bottom-color: rgba(0, 170, 255, 0);
  border-right-color: rgba(0, 170, 255, 0.02);
  border-left-color: rgba(0, 170, 255, 0.02);
  /*border-color: rgba(0, 170, 255, 0.65);*/
}

.active.movielist a {
  color: white;
}

.background-pic{
  background-image: url('./../../../assets/images/noom-peerapong-30948-unsplash.jpg');
  background-size: contain;
}

.heading{
  font-family: "Bookman Old Style";
  /*background-color: rgba(15, 15, 15 ,0.6);*/

}


.dropdown-menu{
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
}

.back{
  opacity: 0.9;
}

.head{

  opacity: 0.8;
}
