<!--nav bar-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">

  <a class="navbar-brand " href="#" style="color: #007bff;">
    <i class="fa fa-film fa-2x"></i>
  </a>
  <a class="navbar-brand" href="#" style="color: #007bff; font-size: x-large">
    <h3 class="title">Movie Buddies</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/home" >Home</a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/movie-list/1">Movies</a>
      </li>

      <li class="nav-item my-1">
        <a class="btn btn-outline-secondary ml-3" [routerLinkActive]="['active']"
           routerLink="/event-list">Events</a>
      </li>

      <!-- dynamic navs -->

      <li class="nav-item my-1">
        <a [hidden]="(user.username === 'No session maintained'
        || user.role !== 'Admin')" class="btn btn-outline-primary
          ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
      </li>

      <!--guest profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-guest/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-guest">Dashboard</a>
      </li>


      <!--host profile and dashboard-->

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role !== 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/profile-host/">Profile</a>
      </li>


      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained' || user.role === 'Guest')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/dashboard-host">Dashboard</a>
      </li>

      <li class="nav-item my-1">
        <a [hidden]="(user.username == 'No session maintained') || (user.role == 'Host')"
           class="btn btn-outline-success ml-3" [routerLinkActive]="['active']"
           routerLink="/user-list">Movie Buffs</a>
      </li>

    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <span [hidden]="(user.username == 'No session maintained')" class="mx-1">
          <span class="navbar-text" style="color: dimgrey;">
           <i [hidden]="user===null" class="fa fa-user"> </i>
            Logged in as: <b>{{user.username}}</b></span>
        </span>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="(user.username == 'No session maintained')" class="btn btn-outline-primary ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')" class="btn btn-outline-primary
       ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button [hidden]="!(user.username == 'No session maintained')"
                class="btn btn-outline-primary
       ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Register</button>
      </li>
    </ul>
  </div>
</nav>


<!--  .......................Nav Bar ends ............................... -->



<!--main content-->

<div class="container-fluid">
  <!--<div style="margin: 5px; padding: 15px;" >-->
  <div class="p-5 mt-5">
    <h2 style="color: #0069d9;">Host Dashboard</h2>
    <div>
      <br/>

      <div>
        <button [disabled]=addMode [hidden]="updateMode" class="btn btn-lg btn-outline-success shadow float-right" (click)="addMode = !addMode">
          <i class="fa fa-plus fa-2x"></i>  Create event</button>
        <div [hidden]=!addMode class="mb-3">
          <form>

            <div class="form-group row">
              <label for="eventFld" class="text-center col-form-label" style="width:15%">
                Event Name </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.name"
                       id="eventFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Event Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="moviesFld" class="text-center col-form-label" style="width:15%">
                Movies </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.movies"
                       id="moviesFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Movies to be played event">
              </div>
            </div>

            <div [hidden]="user.premiumRequestStatus !== 'Verified'" class="row my-3">
              <div class="col-sm-1"></div>
              <div class="col-sm-8">
                <h4> Add Movies (From the list of - Most requested movies by all guests)</h4>
                <ul class="list-group">
                  <li *ngFor="let m of requestedMovies" class="list-group-item my-2 rounded shadow-sm" style="background-color: #e3f2fd;">
                    <div class="row text-dark">
                      <div class="col-8">
                        <h5 style="color: dodgerblue;">
                          {{m.title}}</h5>
                      </div>
                      <div class="col-4" style="text-align: right">
                        <button class="btn btn-outline-primary mx-1"
                        (click)="addMovie(m)">
                          <i class="fa fa-plus"></i>
                        </button>

                        <button class="btn btn-outline-danger float-right mx-1"
                                (click)="removeMovie(m)">
                          <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="form-group row">
              <label for="timeFld" class="text-center col-form-label" style="width:15%">
                Time </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.time"
                       id="timeFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Event time">
              </div>
            </div>

            <div class="form-group row">
              <label for="dateFld" class="text-center col-form-label" style="width:15%">
                Date </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.date"
                       id="dateFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Date of event">
              </div>
            </div>

            <div class="form-group row">
              <label for="locationFld" class="text-center col-form-label" style="width:15%">
                Location </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.location"
                       id="locationFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Event's Location">
              </div>
            </div>

            <div class="form-group row">
              <label for="ticketsFld" class="text-center col-form-label" style="width:15%">
                Max Tickets </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.maxTickets"
                       id="ticketsFld"
                       class="form-control wbdv-password-fld"
                       placeholder="Max Tickets for event">
              </div>
            </div>
            <button id="createBtn"
                    [hidden]=updateMode
                    (click)="createEvent()"
                    class="btn"
                    style="margin-left:0%; width: 100%; color: white; background-color: green">
              Create Event
            </button>
            <button id="cancelBtn"
                    [hidden]=updateMode
                    (click)="cancel()"
                    class="btn btn-secondary mt-2"
                    style="margin-left:0%; width: 100%;">
              Cancel
            </button>
          </form>
        </div>

        <!-- edit mode opened for updating -->

        <h2 [hidden]=!updateMode class="text-center p-0 mb-2" style="color: limegreen">Edit event</h2>
        <div [hidden] = !updateMode>
          <form>

            <div class="form-group row">
              <label for="eventFld2" class="text-center col-form-label" style="width:15%">
                Event Name </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.name"
                       id="eventFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Event Name">
              </div>
            </div>

            <div class="form-group row">
              <label for="moviesFld2" class="text-center col-form-label" style="width:15%">
                Movies </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.movies"
                       id="moviesFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Movies to be played event">
              </div>
            </div>

            <div class="form-group row">
              <label for="timeFld2" class="text-center col-form-label" style="width:15%">
                Time </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.time"
                       id="timeFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Event time">
              </div>
            </div>

            <div class="form-group row">
              <label for="dateFld2" class="text-center col-form-label" style="width:15%">
                Date </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.date"
                       id="dateFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Date of event">
              </div>
            </div>

            <div class="form-group row">
              <label for="locationFld2" class="text-center col-form-label" style="width:15%">
                Location </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.location"
                       id="locationFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Event's Location">
              </div>
            </div>

            <div class="form-group row">
              <label for="ticketsFld2" class="text-center col-form-label" style="width:15%">
                Max Tickets </label>
              <div class="col-sm-10">
                <input [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="event.maxTickets"
                       id="ticketsFld2"
                       class="form-control wbdv-password-fld"
                       placeholder="Max Tickets for event">
              </div>
            </div>


            <button id="updateBtn"
                    [hidden] = !updateMode
                    (click)="updateEvent()"
                    class="btn btn-success"
                    style="margin-left:0%; width: 100%;">
              Update Event
            </button>
            <button id="cancelUpdateBtn"
                    [hidden]=!updateMode
                    (click)="cancelUpdateMode()"
                    class="btn btn-secondary mt-2 mb-3"
                    style="margin-left:0%; width: 100%;">
              Cancel
            </button>
          </form>
        </div>



        <!--my events listing-->


        <h2 style="color: darkorange;" class="font-weight-bold"> My Events </h2>
        <ul class="list-group rounded py-1 my-1" style="width: 36rem">
          <li *ngFor="let e of myevents"
          class="list-group-item shadow rounded my-2">
          <a routerLink="/dashboard-host/{{e._id}}">
            <span style="font-size: large; color:dodgerblue;">
              {{e.name}}</span>
          </a>
            <button
              class="float-right btn btn-outline-primary float-right"
            (click)="deleteEvent(e._id)">
              <i class="fa fa-trash"></i></button>
          </li>

        </ul>

      </div>

      <br>
      <br/>

    </div>
  </div>
</div>


<app-footer></app-footer>

